body {
  background-color: #32353b;
}

h1 {
  color: white;
  font-family: Poppins;
  font-weight: bold;
  font-size: 200px;
}

p {
  color: white;
  font-family: Poppins;
  font-family: 1000px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
