:root {
  --main-bg-color: #32353b;
  --container-bg-color: #8d55c6;
  --button-bg-color: #3592ff;
  --main-font-color: white;
  --placeholder-font-color: #9f9f9f;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: var(--container-bg-color);
  border-radius: 13px;
  padding: 3em;
  box-shadow: 4px 10px 15px 1px rgba(0, 0, 0, 0.3);
}

.main-text {
  font-size: 48px;
  margin-left: 29px;
  font-family: Poppins;
  font-weight: 700;
  color: var(--main-font-color);
  margin-bottom: 107px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-register {
  display: flex;
}

.back-button {
  margin-top: 10px;
}

.container .form label {
  font-size: 18px;
  font-family: Poppins;
  font-weight: 300;
  color: var(--main-font-color);
  margin-bottom: 12px;
  margin-left: 30px;
}

.container .form input {
  margin-bottom: 30px;
  padding-left: 20px;
  border-radius: 11px;
  width: 516px;
  height: 51px;
  border: none;
  font-size: 18px;
  font-family: Poppins;
  display: flex;
}

.buttons {
  display: flex;
}

.buttons button {
  width: 516px;
  height: 51px;
  background-color: var(--button-bg-color);
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  color: var(--main-font-color);
  font-weight: 500;
  margin-right: 22px;
}

.form input[type="checkbox"] {
  width: 20px;
}

.termos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 468px;
}

.termos label {
  font-size: 18px !important;
}

.container-login > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
  font-family: Poppins;
}

.form p a {
  color: var(--main-font-color);
  font-family: Poppins;
  font-weight: bold;
}

.heart-text {
  margin-top: 43px;
}

.container-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73%;
  width: 50%;
  background-color: var(--main-font-color);
  border-radius: 13px;
  box-shadow: 4px 10px 15px 1px rgba(0, 0, 0, 0.3);
}
