.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  transform: translateX(400px);
  transition: 0.7s ease-in-out;
}

.transition-1.is-active {
  transform: translateX(0px);
}
